---
import ArticleItem from "@/components/article-item.astro";
import Pattern from "@/components/ui/pattern.astro";
import Box from "@/components/box/index.astro";
import BoxTitle from "@/components/box/title.astro";
import BoxHeader from "@/components/box/header.astro";

import { getCollection } from "astro:content";

import { SITE } from "@/lib/config";
import type { GetStaticPaths } from "astro";
import Pagination from "@/components/pagination.astro";
import PageLayout from "@/layouts/page-layout.astro";

export const getStaticPaths = (async ({ paginate }) => {
  const articles = await getCollection("blog", ({ data }) => !data.draft);
  const sortedArticles = articles.sort(
    (a, b) => b.data.pubDatetime.getTime() - a.data.pubDatetime.getTime()
  );
  return paginate(sortedArticles, { pageSize: SITE.postPerPage });
}) satisfies GetStaticPaths;

const { page } = Astro.props;
---

<PageLayout
  description="Exploring deep dives and hands-on insights in AI frontiers, algorithms, and systems."
  title="Research Notes"
>
  <Pattern />

  <Box>
    <BoxHeader>
      <BoxTitle>Articles</BoxTitle>
    </BoxHeader>
    <div
      class="flex w-full flex-col items-start justify-start divide-y divide-border"
    >
      {page.data.map(article => <ArticleItem article={article} />)}
    </div>

    <div class="border-t py-2">
      <Pagination page={page} />
    </div>
  </Box>

  <Pattern />
</PageLayout>
