---
import { SOCIAL_LINKS } from "@/lib/constants";
---

<footer class="w-full border-t border-dashed md:border-b">
  <div class="mx-auto flex max-w-3xl items-center justify-center border-dashed px-4 py-3 md:border-x">
    <p class="text-sm text-foreground/70">
      © 2025 Wenjun Wu. All rights reserved.
    </p>
  </div>
</footer>
