---
interface Props {
  className?: string;
}

const { className } = Astro.props;
---

<div
  class:list={[
    "screen-line-after relative flex h-4 w-full md:border-x",
    "before:absolute before:-left-[100vw] before:h-full before:w-[200vw]",
    className,
  ]}
>
  <slot />
</div>
